<h1>{{title}}</h1>
<h4>by {{author}} <small class="muted">(date: {{date publishedAt}})</small></h4>
<hr>
<div class="intro">
  {{markdown intro}}
</div>
<div class="below-the-fold">
  {{markdown extended}}
</div>

<h3>Comments for post with title: {{title}}</h3>
<p>This post has {{numComments}} comments</p>
<div>
  <ol>
    {{#each comments}}
      {{#unless isNew}}
      <li>
        {{text}} says {{user.name}}
      </li>
      {{/unless}}
    {{/each}}
  </ol>

  <h4>New Comment</h4>
  {{comment-box submit='createComment' someText=newCommentText}}
</div>