{{#if isLoggedIn}}
	<button {{action logout}}>logout</button>
{{else}}
  <form>
    {{input value=name placeholder="Name"}}
    {{input value=password placeholder="Password"}}
    <button {{action login target='view'}}>login</button>
  </form>
{{/if}}