{{#if isEditing}}
	{{partial "user/edit"}}
	<button {{action "doneEditing"}} class="btn">done</button>
{{else}}
	<button {{action "edit"}} class="btn">edit</button>
	<button {{action "delete"}} class="btn">delete</button>
{{/if}}

{{partial "user/view"}}